@import 'variables';

* {
  scrollbar-width: thin;
	scrollbar-color: $primary $bg-elevation;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
 
}

body {  
  background-color: $body-bg;
  color: $text-color;
}