.blue-screen__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.blue-screen__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desktop-img {
    display: none;
    @media (min-width: 576px) {
        display: block;
    }
}

.mobile-img {
    display: block;
    @media (min-width: 576px) {
        display: none;
    }
}